@{
    ViewData["title"] = "Delete DB";
}

<h2 class="alert alert-danger">Are you sure Delete</h2>


<form method="post">
    <button class="btn btn-danger" method="submit">Delete</button>
    <hr>

    <a class="btn btn-primary">Back to Manage Database</a>  

</form>