<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            manage
    </button>
    <ul class="dropdown-menu">
        <li> 
            <a class="dropdown-item" asp-controller="DatabaseManageController" asp-action="Index"  asp-area="Database" >
                Database
            </a>
             <a class="dropdown-item" asp-controller="DatabaseManageController" asp-action="Index"   >
                Database2
            </a>
        </li>
        
    </ul>
</div>

@* <div class="dropdown">
    <a class="btn btn-outline-danger dropdown-toggle" href="#"
        id="managedropdownmenu" data-toggle="dropdown">
        Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
            Database
        </a>
        
    </div>
</div> *@