@model App.Models.ProductModel;

<div class="card bg-waring text-white ">
    <h1 class="card-header">@Model.Name </h1>
    <div class="card-body">
    <p class="card-text">ID pham: @Model.Id</p>
    <p class="card-text">Gia san pham: @Model.Price</p>
    </div>
</div>