@{
    Layout ="_layout";
}

@model string

<div class="card bg-danger text-white ">
    <h1 class="card-header">Xin chao @Model</h1>
    <div class="card-body">
    <p class="card-text">Day la trang gioi thieu</p>
    </div>
</div>

@this.Path